.banner {
  /* background-image: linear-gradient(to right, #70999c73, #636e5093),
    url(../../../images/banne.jpg); */
  background-image: url(../../../images/banne.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.text-color {
  color: rgb(39, 22, 22);
}

.text2-color {
  color: rgb(228, 252, 10);
}

.highlight-text {
  color: rgb(247, 184, 10);
}
